@model ContactAllDataViewModel

@{
    ViewData["Title"] = "Details";
}

<partial name="_ContactPartial" model="@Model.ContactPartial" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumbersOfContacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneType.PhoneTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NumbersOfContacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumbersOfContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneType.PhoneTypeName)
                </td>
                <td >
                        <a class="btn btn-danger float-end" asp-controller="NumbersOfContacts" asp-action="Delete" asp-route-id="@item.NumbersOfContactId">Delete</a>
                    <a class="btn btn-warning float-end " asp-controller="NumbersOfContacts" asp-action="Edit" asp-route-id="@item.NumbersOfContactId">Edit</a>
                   @* <a asp-controller="NumbersOfContacts" asp-action="Details" asp-route-id="@item.NumbersOfContactId">Details</a> |*@
                </td>
            </tr>
        }
    </tbody>
</table>

